:root {
    --bg-color: hsl(208, 12%, 90%);
    --font-color: hsl(208, 67%, 50%);
    --green-color: hsl(148 , 55% , 37%);
    --red-color: hsl(358, 55% , 37%);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.2;
    background-color: var(--bg-color);
    color: var(--font-color);
}

#title {
    display: flex;
    font-weight: 150;
    font-size: 7.5vh;
    line-height: 0.75;
    justify-content: center;
}

#login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button#login {
    order: 1;
    flex-grow: 2;
    margin: 15%;
    border-radius: 6px;

    font-weight: 150;
    font-size: 3vh;
    line-height: 1.333;
    border: none;

    background-color: var(--green-color);
    color: var(--bg-color);

    cursor: pointer;
}

#remaining-budget-container {
    display: flex;
    justify-content: center;
}

#remaining-budget {
    font-weight: 200;
    font-size: 6vh;
    line-height: 1;
}

#remaining-budget.under-budget {
    color: var(--green-color);
}

#remaining-budget.over-budget {
    color: var(--red-color);
}

#expenses-container {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}

#expenses-table {
    display: block;
    min-width: 1vw;
    height: 30vh;
    overflow-y: scroll;
}

#expenses-header {
    position: sticky;
    top: 0;
    background: var(--bg-color);
}

#expenses-footer {
    position: sticky;
    bottom: 0;
    background: var(--bg-color);
}

#expenses-body {
    white-space: nowrap;
}

#loading-container {
    display: flex;
    justify-content: center;
}

#sign-out-container {
    display: flex;
    justify-content: left;
    margin-top: 20vh;
}

button#sign-out {
    width: 15vh;
    border-radius: 6px;

    font-weight: 150;
    font-size: 1.5vh;
    line-height: 1.333;
    border: none;

    background-color: var(--red-color);
    color: var(--bg-color);

    cursor: pointer;
}

#navigate-buttons > button {
    
    border-radius: 6px;

    font-weight: 150;
    font-size: 2vh;
    line-height: 1.333;
    border: none;

    background-color: var(--font-color);
    color: var(--bg-color);

    cursor: pointer;
}

.edit-expense {
    border-radius: 6px;

    font-weight: 150;
    font-size: 1.5vh;
    line-height: 1.333;
    border: none;

    background-color: var(--font-color);
    color: var(--bg-color);

    cursor: pointer;
}

.delete-expense {
    border-radius: 6px;

    font-weight: 150;
    font-size: 1.5vh;
    line-height: 1.333;
    border: none;

    background-color: var(--red-color);
    color: var(--bg-color);

    cursor: pointer;
}

#submit-new-expense {
    border-radius: 6px;
    width: 100%;

    font-weight: 150;
    font-size: 2vh;
    line-height: 1.333;
    border: none;

    background-color: var(--green-color);
    color: var(--bg-color);

    cursor: pointer;
}
