:root {
    --bg-color: hsl(206, 14%, 90%);
    --font-color: hsl(208, 67%, 50%);
    --green-color: hsl(148 , 55% , 37%);
    --red-color: hsl(358, 55% , 37%);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.2;
    background-color: var(--bg-color);
    color: var(--font-color);
}

#title {
    display: flex;
    font-weight: 150;
    font-size: 7.5vh;
    line-height: 0.75;
    justify-content: center;
}

#login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button#login {
    order: 1;
    flex-grow: 2;
    margin: 15%;
    border-radius: 6px;

    font-weight: 150;
    font-size: 3vh;
    line-height: 1.333;
    border: none;

    background-color: var(--green-color);
    color: var(--bg-color);

    cursor: pointer;
}

#remaining-budget-container {
    display: flex;
    justify-content: center;
}

#remaining-budget {
    font-weight: 200;
    font-size: 6vh;
    line-height: 1;
}

.under-budget {
    color: var(--green-color);
}

.over-budget {
    color: var(--red-color);
}

#budget-sums-container {
    display: flex;
    flex-direction: row;
}

#budget-sums-container > p {
    flex: auto;
}

#expenses-container {
    justify-content: center;
    overflow-x: scroll;
}

#expenses-navigation-container {
    display: flex;
    justify-content: space-between;
}

#expenses-table {
    display: block;
    min-width: 1vw;
    overflow-y: scroll;
}

#expenses-header {
    position: sticky;
    top: 0;
    background: var(--bg-color);
}

#expenses-footer {
    position: sticky;
    bottom: 0;
    background: var(--bg-color);
}

#expenses-body {
    white-space: nowrap;
}

.expense-status {
    display: flex;
    justify-content: center;
}

#loading-container {
    display: flex;
    justify-content: center;
}

#sign-out-container {
    display: flex;
    justify-content: left;
    margin-top: 5%;
}

button {
    cursor: pointer;
    
    background-color: var(--font-color);
    color: var(--bg-color);
    
    font-size: 4vw;
    font-weight: 150;
    line-height: 1.333;

    border: none;
    border-radius: 6px;
}

button#sign-out {
    width: 20%;
    
    font-size: 3.5vw;    

    background-color: var(--red-color);
}

#navigate-buttons > button {
    background-color: var(--font-color);
}

.table-button {
    font-size: 3vw;
}

button.edit-expense {
    background-color: var(--font-color);
}

button.delete-expense {
    background-color: var(--red-color);
}

#expenses-status-cell {
    display: flex;
}

button#submit-new-expense {
    width: 100%;

    background-color: var(--green-color);
}

button.submit-delete {
    background-color: var(--red-color);
}

button.cancel-delete {
    background-color: var(--font-color);
}

button.submit-edit {
    background-color: var(--green-color);
}

button.cancel-edit {
    background-color: var(--red-color);
}

#new-budget-input {
    display: flex;
    flex-direction: column;
}

#create-new-budget {
    background-color: var(--green-color);
}
